/* Modules */ 
@import url('modules/bootstrap.css'); 
@import url('modules/jquery-ui.css'); 
@import url('modules/fonts.css'); 

body {
	font-family: 'Open Sans', sans-serif;
	background: url('/img/bg-pizdato.jpeg');
	background-attachment: fixed;
	background-size: cover;
}

#ads {
	left: 975px;
	top: 68px;
	display: none;
	position: absolute;
}

/*
.container {
	margin-left: 15px;
	margin-right: 15px;
}


.navbar-inner .container {
	width: auto;
}
*/

#navbar {
	display: none;
}

.navbar .brand {
	font-size: 40px;
	font-weight: normal;
	color: #fff;	
	float: left;
	text-shadow: 0px 1px 1px black;
	padding: 0;
	margin: 0;
	line-height: 50px;
	text-transform: lowercase;
}

.ul-autocomplete .ui-menu-item{
	border-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0;
	background-color: #000;
}

#muscularBody{
	padding-top: 55px;
}

.navbar-inner {
	background: #333;
	height: 55px;
	border: 2px solid rgba(0, 0, 0, 0.4);
}

.dest-item {
	margin-top: 19px;
}

.navbar-inner {
	
}

.dest-item .map, .dest-item .date, .ui-datepicker-inline, .dest-item .results{
	height: 270px;
	background-color: rgba(0, 0, 0, 0.5);
}


.date .ui-widget-content {
	border: none;
	background-color: none;
}

.dest-item .image {
	font-weight: bold;
	font-style: italic;
	color: #000;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	overflow: hidden;
	background-size: cover;
}

input.geo_autocomplete {
	margin-top: 25px;
}

input.calendar, input.geo_autocomplete {
	background-color: #6D3353;
	color: #fff;
	border: none;
	font-size: 25px;
	height: 40px;
	color: #fff;
	box-shadow: none;
	border: dashed 0px #000;
	border-radius: 0;

	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input.calendar:hover, input.geo_autocomplete:hover {
	background-color: #4b2239;
	-webkit-transition: all 0.15s ease;
}

.ui-autocomplete {
	background-color: #000;
	color: #eee;
	font-size: 25px;
}

.descriptor {
	position: absolute;
	color: #fff;
	font-size: 50px;
	z-index: 10;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
	display: none;
}

.results {
	overflow: auto;
	color: #fff;
	font-size: 15px;
}

#ui-datepicker-div {
	background-color: #000;
	border-radius: 0;
	width: 214px;
}

.footer {
	height: 50px;
}

.flights, .hotels {
	overflow: hidden;
}

.match {
	height: 68px;
	overflow: hidden;
	padding: 0;
	background: #fff;
	color: #222;
	box-shadow:  0px 0px 1px 1px rgba(0, 0, 10, 0.3);
}

.match .timespan {
}

.match .numberTransfers {
}

.match .buyLink {
}

.match:hover {
	background-color: #ddd;
}

.match .hotel {
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.2em;
}

.match .room {
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	height: 10px;
	overflow: hidden;
}

.stars {
	color: goldenrod;
	font-size: 0.9em;
}

.match .price {
	margin-top: 6px;
	margin-left: 10px;
	padding-right: 18px;
}

input.navbarInput {
	font-size: 25px;
	height: 30px;
	border: none;
	background-color: #ddd;
	color: #333;
	border-radius: 0;
	margin: 0;
	margin-top: 9px;

	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar span.add-on {
	height: 29px;
	background-color: #666;
	margin: 0;
}

.match .centered {
	display: table-cell;
	vertical-align: middle;
	height: 56px;
}

.match .description {
	display: table-cell;
	vertical-align: middle;
	height: 67px;
	padding-left: 3px;
}

.hello {
	text-shadow: 0px 1px 1px #000;
	height: 270px;
	display: table-cell;
	vertical-align: middle;
	color: #ccc;
}

.hello p.text {
	font-size: 20px;
	line-height: 20px;
	text-align: left;
}

.hello p.promo{
	font-size: 50px;
	line-height: 50px;
	text-align: left;
}

.hello h1 {
	font-size: 50px;
	line-height: 50px;
	text-align: left;
}

.price {
	float: right;
}

::-webkit-input-placeholder {
   color: #ddd;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 20px;
   line-height: 30px;
   height: 40px;
   text-align: center;
}

:-moz-placeholder {  
   color: #ddd;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 20px;
   line-height: 40px;
   height: 40px;
   text-align: center;
}

#addItem {
	color: #fff;
	font-size: 150px;
	line-height: 50px;
	text-align: center;
}

.plus {
	border: 2px dashed #444;
	display: none;
}

.plus p:hover {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
}

.dest-item .image {
	height: 150px;
}

.plus p {
	font-size: 120px;
	line-height: 150px;
}

.stats {
	height: 150px;
	width: 100%;
}

.stats p {
	color: white;
	font-size: 35px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 1px black;
}

#teaser {
	display: none;
}

.teaser h1 {
	font-size: 100px;
	line-height: 100px;
	margin: 0;
	padding: 0;
	margin-top: -25px;
}

.teaser {
	color: #ddd;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	text-shadow: 0px 1px 1px black;
	text-align: center;
}

.teaser p, .teaser ul li {
	font-size: 30px;
	line-height: 30px;
	color: #000;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
} 

.teaser ul li {
	padding: 5px;
	list-style-type: none;
}

/* loading animation */

.center {
	padding-top: 120px;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}

.rur {
 	font-family: 'PTSansRegular', serif;
}

.desc {
	font-size: 20px;
	line-height: 55px;
	color: #fff;

	font-family: 'Open Sans', sans-serif;
	text-shadow: 0px 1px 1px #000;
	font-weight: 100;
}

.floatRight {
	float: right;
}

.tearser {
	opacity: 0.2;
}

.links {
	margin-left: 20px;
}

ul.nav li.links, ul.nav li.links a {
	font-size: 20px;
	line-height: 55px;
	height: 55px;
	padding: 0;

	color: #A774C0;
	font-weight: 100;
}

ul.nav li.links a:hover {
	color: DarkOrchid;
}

.btn { 
	padding: 4px 5px;
}

.shadow {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.inner-stats {
	height: 148px;
}

.inner-stats h1 {
	margin: 0;
	padding: 0;
	line-height: 20px;
	font-size: 20px;
	color: black;
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.inner-stats span.cheep, .inner-stats span.average, .inner-stats span.bestValue, .inner-stats  span.best {
}

.coolStory {
	font-family: 'Open Sans' !important;
	font-weight: 300;
	font-style: normal;
	color: #fff;
	margin-top: 10px;
	text-shadow: 0px 1px 1px black;
}

.coolStory p {
	font-size: 30px;
	line-height: 35px;
	padding-top: 10px;
}

.coolStory li {
	font-size: 30px;
	line-height: 35px;
	margin-left: -20px;
	margin-right: -20px;
}

.bestValueMatch {
	background-color: #BFEDBB;
}

ul.nav li.links a {
	text-shadow: none;
}

.ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}
.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff .5s infinite linear;
	-webkit-animation:spinoff .5s infinite linear;
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}